:root {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --pink: #ebcbe9;
    --purple: #acbce9;
    --blue: #9cdae9;
    --yellow: #fbdab3;
    background-color: var(--blue);
}

.container {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: var(--pink);
    height: 8vh;
    gap: 1vw;
    border-radius: 10px;
}

#toHome {
    text-decoration: none;
    color: var(--pink);
}

.logo {
    margin-left: 1vw;
    height: 8vh;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    margin-left: 2vw;
}

.navigation a {
    align-self: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: column;
    margin-inline: 5vw;
    margin-block: 4vh;
}

footer {
    text-align: center;
    background-color: var(--purple);
    border-radius: 10px;
}