@import "./globals.css";

main {
    gap: 5vh;
}

input {
    display: none;
}

.slider {
    width: 800px;
    max-width: 90vw;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    align-self: center;
}

.slides {
    display: flex;
    width: 300%;
    height: 450px;
    animation: slide 15s infinite;
}

.slide {
    width: 40%;
    flex-shrink: 0;
    position: relative;
}

.slide img {
    width: 100%;
    height:100%;
    object-fit: cover;
}

.slide::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent 60%, rgba(0,0,0,07));
}

.controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    gap: 12px;
}

.controls label {
    width: 14px;
    height: 14px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

@keyframes slide {
    0%, 30% { transform: translateX(0%);}
    33%, 63% { transform: translateX(-40%);}
    66%, 100% {transform: translateX(-80%);}
}

.info {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: var(--yellow);
    border-radius: 15px;
}

.infoTitle {
    font-size: 35px;
    font-weight: 500;
}

.cta {
    display: flex;
    flex-direction: column;
    gap: 8vh;
}

.desc {
    font-size: 18px;
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--yellow);
    border-radius: 15px;
}

.block:nth-child(2) {
    flex-direction: row-reverse;
}

.block img {
    width: 50%;
    height: 50%;
    border-radius: 15px;
}

.blockText {
    display: flex;
    flex-direction: column;
}

.blockTextTitle {
    align-self: center;
    font-size: 25px;
}

.blockTextDesc {
    font-size: 15px;
    width: 600px;
    align-self: center;
}