@import "./globals.css";

main {
    gap: 5vh;
}

.slider-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 60vh;
    scrollbar-width: none;
    border-radius: 15px;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide img {
    width: 100%;
    height: 100%;
    transform: scale(.99);
    object-fit: cover;
    border-radius: 15px;
}


.info {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: var(--yellow);
    border-radius: 15px;
}

.infoTitle {
    font-size: 35px;
    font-weight: 500;
}

.cta {
    display: flex;
    flex-direction: column;
    gap: 8vh;
}

.desc {
    font-size: 18px;
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--yellow);
    border-radius: 15px;
    padding: 15px;
}

.block:nth-child(even) {
    flex-direction: row-reverse;
}

.block img {
    width: 50%;
    height: 50%;
    border-radius: 15px;
}

.blockText {
    display: flex;
    flex-direction: column;
}

.blockTextTitle {
    align-self: center;
    font-size: 25px;
}

.blockTextDesc {
    font-size: 15px;
    width: 600px;
    align-self: center;
}

.reviews {
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
    padding-bottom: 3vh;
    border-radius: 15px;
}

.reviews .title {
    font-size: 25px;
    font-weight: 500;
}

.review {
    background-color: var(--blue);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.review .name {
    font-size: 24px;
}

.review .text {
    font-size: 20px;
    font-weight: 300;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
}

.rating span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url("../../media-files/icons/heroicons-outline/star.svg");
}

.joinus {
    background-color: var(--yellow);
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 2vh;
}

.joinus .text {
    font-size: 24px;
    font-weight: 400;
}

.joinus button {
    background: var(--green);
    border-radius: 15px;
    padding-block: 15px;
    padding-inline: 40px;
    border: none;
    font-size: 24px;
}